body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative; /* A침adido para posicionar el bot칩n de cambio de tema */
}

h1, h2 {
    color: #343a40;
}

.input-container {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #9fa1a3;
}

input {
    width: 100%;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 15px 0;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #dee2e6;
    transition: all 0.3s ease;
}

/* Agregamos un margen inferior a cada tarea en la lista */
li + li {
    margin-top: 15px;
}

/* Estilo para el modo oscuro */
.dark-mode {
    background-color: #343a40;
    color: #fff;
}

.dark-mode input, .dark-mode button, .dark-mode label {
    background-color: #495057;
    color: #fff;
    border: 1px solid #343a40;
}

.dark-mode li {
    background-color: #495057;
    border: 1px solid #343a40;
    color: #fff;
}

.dark-mode hr {
    border-top: 1px solid #343a40;
}

/* Estilo para el bot칩n de cambio de tema */
.theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#toggleIcon {
    font-size: 30px;
}

.dark-mode #toggleIcon {
    color: #fff;
    transform: rotate(180deg);
}

/* Animaci칩n de entrada para los elementos de la lista */
.list-group-item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.list-group-item.active {
    opacity: 1;
    transform: translateY(0);
}
/* Agrega estilos para el footer */
.footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
}

.footer p {
    margin: 0;
}

