body {
  background-color: #000;
  color: #ccc;
}

.container {
  background-color: #ae8383;
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;
}

.btn-primary, .btn-danger {
  margin-right: 10px;
  margin-top: 10px;
}
